---
http_interactions:
- request:
    method: get
    uri: http://www.wolnelektury.pl/api/books/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pl
      Etag:
      - ! '"b86792444cdffe36e75daff096c429b3"'
      Last-Modified:
      - Thu, 10 Nov 2011 18:52:29 GMT
    body:
      encoding: UTF-8
      string: ! "[\n    {\n        \"href\": \"http://www.wolnelektury.pl/api/books/sonety-krymskie-ajudah/\",\n
        \       \"title\": \"Ajudah\"\n    }\n]"
  recorded_at: Fri, 22 Jun 2012 04:42:57 GMT
- request:
    method: get
    uri: http://www.wolnelektury.pl/api/books/sonety-krymskie-ajudah/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pl
      Etag:
      - ! '"df7ac7d6468ca474687e2f7da23bd38d"'
      Last-Modified:
      - Thu, 10 Nov 2011 18:56:50 GMT
    body:
      encoding: UTF-8
      string: ! "{\n    \"xml\": \"http://www.wolnelektury.pl/media/lektura/sonety-krymskie-ajudah_______.xml\",\n
        \   \"themes\": [],\n    \"genres\": [\n        {\n            \"href\": \"http://www.wolnelektury.pl/api/genres/sonet/\",\n
        \           \"name\": \"Sonet\"\n        }\n    ],\n    \"mobi\": \"http://www.wolnelektury.pl/media/book/mobi/ajudah.mobi\",\n
        \   \"kinds\": [\n        {\n            \"href\": \"http://www.wolnelektury.pl/api/kinds/liryka/\",\n
        \           \"name\": \"Liryka\"\n        }\n    ],\n    \"parent\": {\n        \"slug\":
        \"sonety-krymskie\",\n        \"title\": \"Sonety krymskie\"\n    },\n    \"title\":
        \"Ajudah\",\n    \"media\": \"<django.db.models.fields.related.RelatedManager
        object at 0x7fe7d0ffc690>\",\n    \"epochs\": [\n        {\n            \"href\":
        \"http://www.wolnelektury.pl/api/epochs/romantyzm/\",\n            \"name\":
        \"Romantyzm\"\n        }\n    ],\n    \"html\": \"http://www.wolnelektury.pl/media/book/html/ajudah.html\",\n
        \   \"books\": [\n        {\n            \"href\": \"http://www.wolnelektury.pl/api/books/l-sonety-krymskie/\",\n
        \           \"name\": \"Sonety krymskie\"\n        }\n    ],\n    \"authors\":
        [\n        {\n            \"href\": \"http://www.wolnelektury.pl/api/authors/adam-mickiewicz/\",\n
        \           \"name\": \"Adam Mickiewicz\"\n        }\n    ],\n    \"pdf\":
        \"http://www.wolnelektury.pl/media/lektura/sonety-krymskie-ajudah_1.pdf\",\n
        \   \"txt\": \"http://www.wolnelektury.pl/media/lektura/ajudah.txt\",\n    \"epub\":
        \"\"\n}"
  recorded_at: Fri, 22 Jun 2012 04:42:57 GMT
- request:
    method: get
    uri: http://www.wolnelektury.pl/media/lektura/ajudah.txt
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Mon, 24 Jan 2011 15:56:04 GMT
      Warning:
      - 214 warkaz-fe03 "Transformation applied"
    body:
      encoding: UTF-8
      string: ! 'Adam Mickiewicz


        Sonety krymskie

        Ajudah




        Lubię poglądać wsparty na Judahu skale,

        Jak spienione bałwany, to w czarne szeregi

        Ścisnąwszy się, buchają, to jak srébrne śniegi

        W milionowych tęczach kołują wspaniale.


        Trącą się o mieliznę, rozbiją na fale,

        Jak wojsko wielorybów, zalegając brzegi,

        Zdobędą ląd w tryumfie, i [...]
